<section>
	<form name="waterform" novalidate ng-submit="login()">
		<h1>login</h1>

		<p class="bg-danger" ng-show="message">{{message}}</p>
		<p class="bg-danger" ng-show="regMessage">{{message}}</p>


		
		<input type="email" name="email" placeholder="email" autofocus ng-model="user.email" ng-required="true">
		<p class="bg-danger" ng-show="waterform.email.$invalid && waterform.email.$touched">valid email required</p>
		<input type="password" name="password" placeholder="password" ng-model="user.password" ng-required="true">
		<p class="bg-danger" ng-show="waterform.password.$invalid && waterform.password.$touched">password required</p>
		<button type="submit" class="btn btn-primary" ng-disabled="wateform.$invalid">login</button>

	</form>
</section>