<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<nav class="navbar navbar-default" role="navigation">
				<!-- Branding and navbar toggle -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" ng-init="navCollapsed=true" ng-click="navCollapsed=!navCollapsed">
								<img class="icon-size" src="http://i47.photobucket.com/albums/f154/uninvisible/archeage_zpscf3i0mgx.png">
								<b class="caret"></b>
					</button>
					<a href="#/" class="navbar-brand">Archeage Tools</a>
				</div>		
				<!-- All other navbar content -->
				<div collapse="navCollapsed" class="collapse navbar-collapse">
					

					<ul class="nav navbar-nav navbar-right" ng-controller="StatusCtrl">
						<li ng-hide="currentUser"><a ng-href="#/login">login</a></li>
						<li ng-hide="currentUser"><a ng-href="#/register">register</a></li>
						<li ng-show="currentUser"><a ng-href="#/properties">my properties</a></li>
						<li ng-show="currentUser"><a ng-href="#/users/{{currentUser.mainChar}}"><span>user</span></a></li>
						<li ng-show="currentUser">	
							<a ng-href="#" ng-click="logout()">logout</a>
						</li>
					</ul>
				</div>
			</nav>			
		</div>
	</div>
</div>