<div ng-hide="currentUser">
<br><br><br><br><br>
<!-- 	<h4 class="text-center"><a ng-href="#/login">login</a> or <a href ng-click="regRequest()">request an invite</a></h4> -->
	<h4 class="text-center"><a ng-href="#/login">login</a> or <a href="#/register">register</a></h4>
<br><br>
</div>
<div ng-show="currentUser" class="container"> <!-- Main container -->
	<div class="row">  <!-- Main row -->
		<!-- Main column -->
		<div class="col-lg-9"> 
			
			<!-- Main Topbox / Add Property Topbox -->
			<div class="well" collapse="topBoxCollapsed" id="topbox">
				<form class="formgroup text-center" name="waterform" ng-submit="addProperty()" novalidate>
					<h3 class="text-center">add a property</h3>
					<div class="inputwrapper">
						<span>owner:</span>
						<select required name="propowner" ng-model="propowner" autofocus>
							<option ng-repeat="char in characters" ng-value="{{char.charname}}">{{char.charname}}</option>
						</select>
						<span>location:</span>
						<select required ng-model="chosenLocation" ng-options="location.name for location in locations"></select>
						<span>type:</span>
						<select required name="proptypes" ng-model="proptypes">
							<option value="house">House</option>
							<option value="farm">Farm</option>
							<option value="workstation">Workstation</option>
						</select>							
					</div>
					<br>
					<select id="proptypeHouse" ng-show="proptypes=='house'" ng-model="chosenProptype" ng-options="type.name for type in houseTypes"></select>
					<select id="proptypeFarm" ng-show="proptypes=='farm'" ng-model="chosenProptype" ng-options="type.name for type in farmTypes"></select>
					<select id="proptypeWorkstation" ng-show="proptypes=='workstation'" ng-model="chosenProptype" ng-options="type.name for type in workstationTypes"></select>
					<h4>taxes due:</h4>	
					<div>
						<select required id="dueMonth" ng-model="propduemonth" ng-options="month.val as month.month for month in months"></select>
						<select required id="dueDay" ng-model="propdueday" ng-options="day for day in days"></select>
						@
						<select required id="dueHour" ng-model="propduehour" ng-options="hour for hour in hours"></select>	
						:
						<select required id="dueMinute" ng-model="propduemin" ng-options="min for min in minutes"></select>
					</div>
					<br>
					<button type="submit" class="btn" ng-disabled="waterform.$invalid || !chosenProptype">add</button>
					<button type="button" class="btn" ng-click="topBoxCollapsed = !topBoxCollapsed">cancel</button>					
				</form>
			</div> <!--  /Main Topbox / Add Property Topbox -->
			
			<!-- Add Character Topbox -->
			<div class="container-fluid " collapse="topBoxCharCollapsed" id="topbox-character">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 well">
						<form class="formgroup text-center" name="characterform" ng-submit="addCharacter()" novalidate>
							<div class="inputwrapper">
								<h3>add character</h3>
								<h4>name</h4>
								<input class="form-control" type="text" name="charactername" ng-model="charactername" ng-required="true">
								<h4>level</h4>
								<select id="characterLevel" ng-model="characterlevel" ng-options="level for level in levels"></select>
								<h4>race</h4>
								<select id="characterRace" ng-model="characterrace" ng-options="race for race in races"></select>
								<h4>gender</h4>
								<select id="characterGender" ng-model="charactergender" ng-options="gender for gender in genders"></select>								
							</div>
							<br>
							<button type="submit" class="btn" ng-disabled="characterform.$invalid">add</button>
							<button type="button" class="btn" ng-click="topBoxCharCollapsed = !topBoxCharCollapsed">cancel</button>
						</form>	
					</div>
				</div>
			</div> <!--  /Add Character Topbox -->

			<!-- Character Info Topbox -->
			<div class="container-fluid " collapse="topBoxCharInfoCollapsed" id="topbox-character">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 well">
						<div class="text-right"><span class="glyphicon glyphicon-remove button-close" ng-click="topBoxCharInfoCollapsed = !topBoxCharInfoCollapsed"></span></div>
						<div class="col-lg-4">
							<img class="character-avatar center-block" ng-src="img/holder.jpg">
							<h3 class="text-center">{{selectedCharacter.charname}} (<a href="#" class="editable" editable-select="selectedCharacter.lvl" e-ng-options="level for level in levels" onbeforesave="updateType='level';updateCharacter($data, updateType)">{{selectedCharacter.charlvl || "empty" }}</a>)</h3>
							<div class="text-center"><!-- Character Info Topbox buttons -->
								<button type="button" class="btn btn-default" ng-click="deleteCharacter(selectedCharacter.$id)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</div><!--  /Character Info Topbox buttons -->
						</div>
						<div class="col-lg-8">
							<div class="row">
								<div class="col-lg-8 col-lg-offset-2">

									<h3 class="text-center">Proficiencies</h3>
									<table class="table">
										<tbody ng-repeat="(key,val) in selectedCharacterProf">
											<tr>
												<td></td>
												<td>{{key}}</td>
												<td>
													<a href="#" class="editable" editable-select="lvl" e-ng-options="proflvl for proflvl in proflvls" onbeforesave="updateType='proficiency';updateCharacter($data, updateType, key)">{{val}}</a>
												</td>
											</tr>
										</tbody>
									</table>
									<form class="formgroup text-center" name="profform" ng-submit="updateCharacter($data, updateType)" novalidate>
										<div class="inputwrapper">
											<select ng-model="proficiencytype" ng-options="prof.name for prof in proficiencies"></select>
											<select ng-model="proficiencylvl" ng-options="proflvl for proflvl in proflvls"></select>
											<button ng-click="updateType='proficiencyNew'" type="submit" ng-disabled="profform.$invalid">add</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--  /Character Info Topbox -->
			
			<!-- Properties -->
			<div ng-repeat="val in properties" class="text-center well">
				<h2>{{val.$id}}</h2>
				<hr>
				<div id="{{key}}" class="property" ng-click="selectProperty(key,property)" ng-repeat='(key,property) in val | groupBy: property.propowner' ng-class="{'overdue' : property.propstatus == 'overdue', 'duesoon' : property.propstatus == 'duesoon'}">
					<img ng-src="img/{{property.icon}}.png" height="100px" width="100px">
					<div class="propinfo {{key}}" id="prop{{key}}" ng-show="selectedProp">
						<h3 class="text-center">{{property.proptype}}</h3>
						<h4 class="text-center"><em>Owner: </em> {{property.propowner}}</h4>
						<h4 class="text-center"><em>Location: </em> {{property.proplocation}}</h4>
						<h4 class="text-center"><em>Due: </em> {{property.propduedate}}</h4>
						<h4 class="text-center"><em>@ </em> {{property.propduetime}}</h4>

						<h4 class="text-center"><timer id="proptimer" end-time="property.propduedateiso">{{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}</timer></h4>



						<div class="text-center button-wrapper">
							<button class="btn btn-default"><span class="glyphicon glyphicon-info-sign"></span></button>
							<button type="button" class="btn btn-default" ng-click="status.propInfo=!status.propInfo; deleteProperty(key,property)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>

							<button class="btn btn-default" ng-click="payTaxes(key,property)">
								<span class="glyphicon glyphicon-usd"></span>
							</button>
						</div>
					</div>
				</div>
			</div>	<!--  /Properties -->
		</div> <!--  /Main column -->
		
		<!-- Side Column for Infobox -->
		<div class="col-xs-3 ">
			
			<!-- Infobox -->
			<div id="infobox-wrapper" affix> <!-- Infobox -->
				<h3 class="text-center"><em>Hello {{currentUser.mainChar}}</em>
				</h3>
					<div class="button-group text-center"> <!-- Infobox buttons -->
						<span class="btn btn-default" ng-click="goToTopBox()">
							<span class="glyphicon glyphicon-plus-sign"></span>
						</span>
						<span class="btn btn-default" ng-click="status.characterInfo = !status.characterInfo">
							<span class="glyphicon glyphicon-user"></span>
						</span>
					</div> <!--  /Infobox buttons -->
				
				<!-- Character & Property Info Panels -->
				<accordion close-others="true">
					
					<!-- Character Info Panel -->
					<accordion-group is-open="status.characterInfo" class="character-infobox">
						<h3 class="text-center">characters</h3>
						<h4 class="text-center character-name" ng-repeat="character in characters" ng-click="goToCharInfoTopBox(character)">{{character.charname}}  ( {{character.charlvl}} )</h3>
						<div class="button-group text-center"> <!-- Character Info Panel buttons -->
							<span class="btn btn-default" ng-click="goToCharTopBox()">
								<span class="glyphicon glyphicon-plus-sign"></span>
							</span>
						</div> <!--  /Character Info Panel buttons -->
					</accordion-group> <!--  /Character Info Panel -->
					
					<!--  Property Info Panel -->
					<accordion-group  is-open="status.propInfo">
						<div id="prop-infobox">
						</div>
					</accordion-group>
				</accordion> <!--  /Character & Property Info Panels -->
			</div> <!--  /Infobox -->
		</div> <!--  /Side Column for Infobox -->
	</div><!--  /Main row -->
</div> <!--  /Main container -->