<div class="container">
	<div class="row">
		<div class="col-xs-9">
					
			<div ng-repeat="val in properties" class="well">
					<h2>{{val.$id}}</h2><hr width="30%">
					<div ng-repeat='(key,property) in val | groupBy: property.propowner' ng-class="{'overdue' : property.propstatus == 'overdue', 'house' : property.propcategory == 'house'}">

						<h3>{{property.proptype}}</h3>
							

						<span>in</span>

						<span><h3>{{property.proplocation}}</h3><span class="overduetext" ng-if="property.propstatus == 'overdue'">LATE</span> taxes due</span><br>
						
						<span ng-if="property.propstatus == 'paid'">
						{{property.propduedate}} at {{property.propduetime}}<br>
						<span><timer ng-class="timerSelected ? 'timer-selected' : 'timer-not-selected'" end-time="property.propduedateiso" class="timer" max-time-unit="'day'">{{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}</timer></span><br>					
						</span>

						<span ng-if="property.propstatus == 'duesoon'" class="duesoontext">
						{{property.propduedate}} at {{property.propduetime}}<br>
						<span><timer ng-class="notSelectedTimer" end-time="property.propduedateiso" max-time-unit="'day'">{{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}</timer></span><br>					
						</span>

						<span ng-if="property.propstatus == 'overdue'" class="overduetext">{{property.propdemodateformatted}}<br>
						<span><timer end-time="property.propdemodate">DEMOS in {{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}</timer></span><br>
						</span>


						<button class="btn btn-default" ng-click="timerSelected = !timerSelected; selectProperty(key,property)"><span class="glyphicon glyphicon-info-sign"></span></button>
						<button type="button" class="btn btn-default" ng-click="deleteProperty(key,property)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
						<button class="btn btn-default" ng-click="payTaxes(key,property)">
							<span class="glyphicon glyphicon-usd"></span>
						</button>
					</div>
				</div><br><br>		
		</div>
		<!-- Selected Property Info -->
		<div class="col-xs-3" ng-show="owner">
			<div class="well prop-infobox">
				<ul>
					<li><em>Owner: </em> {{owner}}</li>
					<li><em>Type: </em> {{proptype}}</li>
					<li><em>Location: </em> {{location}}</li>
					<li><em>Due: </em> {{duedate}}</li>
					<li><em>@ </em> {{duetime}}</li>

					<li>
						<strong><div id="timerholder"></div></strong>
					</li>
				</ul>				
			</div>
		</div>
	</div>
</div>