<section>
	<form name="waterform" novalidate ng-submit="register()">
		<h1>register</h1>

		<p class="bg-danger" ng-show="regMessage">{{message}}</p>

		<input type="email" name="email" placeholder="email" autofocus ng-model="user.email" ng-required="true">
		<p class="bg-danger" ng-show="waterform.email.$invalid && waterform.email.$touched">valid email required</p>
		<input type="password" name="password" placeholder="password" ng-model="user.password" ng-required="true">
		<p class="bg-danger" ng-show="waterform.password.$invalid && waterform.password.$touched">password required</p>
		<input type="text" name="mainChar" placeholder="main character name" ng-model="user.mainChar" ng-required="true">
		<p class="bg-danger" ng-show="waterform.mainChar.$invalid && waterform.password.$touched">main character name required</p>
		<button type="submit" class="btn btn-primary" ng-disabled="wateform.$invalid">register</button>

	</form>
</section>