/* BASIC STYLES */

body {
	background-color: white;
}

hr { 
	display: block; 
	height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

h1, h2, h3, h5, h6, .navbar-brand {
	font-family: 'Cinzel Decorative';
    text-shadow: none;
}

h4, .formgroup {
	line-height: 1.5em;
	font-family: 'Raleway';
	font-weight: 200;
	text-shadow: none;
	font-size: 1.3em;
}

.button-group {
	padding-bottom: 25px;
}


/* NAVBAR STYLES */

.navbar-brand {
	padding-top: 20px;
	height: 20px;
	font-size: 2em;
}


/* LOGIN & REGISTRATION */

.login {
	width: 40%;
}

.reg-form {
	text-align: center;
	margin: auto;
	width: 50%;
}

.alerts {
	list-style-type: none;
}

ul.alerts {
	padding: 0;
	margin: 0;
}

.alerts > li {
	padding-top: 5px;
	padding-bottom: 5px;
}


/* PROPERTIES PAGE */

.property {
	display: inline-block;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 3px 5px 3px 5px;
	margin: 5px 10px 3px 10px;
	border: 1px solid rgba(0, 0, 0, 0);	
	background-color: #7eb68d;
	border-radius: 30px;	
}

.property > img {
		border-radius: 30px;	
}

.property:hover {
	cursor: pointer;
	box-shadow: 0 0 5px #7eb68d;
	border: 1px outset #4A7C57;	
}

.selectedProperty, .selectedProperty:hover  {
	display: inline-block;
	box-shadow: 0 0 10px 5px rgba(174, 167, 25, 0.72);
	padding: 3px 5px 3px 5px;
	margin: 5px 10px 3px 10px;
	border: 1px outset #4A7C57;		
}

.duesoon {
	background-color: rgb(223, 185, 104) !important;
}

.overdue {
	background-color: rgb(179, 35, 35) !important;
}


/* Infobox Styles */

#prop-infobox {
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
}

#user-infobox ul {
	line-height: 2em;
	padding-left: 20px;
	list-style-type: none;
	font-size: 1.1em;
	background-color: #4A7C57;
}

#infobox-wrapper {
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	background-color: #4A7C57;
	color: white;
	padding-top: 5px;
	padding-bottom: 12px
	padding-left: 0px;
}

div.panel-heading, .panel {
	padding: 0px;
	border: none;
}

.panel-group, .panel-collapse {
	background-color: #4A7C57;	
}