.navbar-brand {
	padding-top: 20px;
	height: 20px;
	font-size: 1.6em;
}

body {
	background-color: white;
}

ul.alerts {
	padding: 0;
	margin: 0;
}

.alerts > li {
	padding-top: 5px;
	padding-bottom: 5px;
}

.alerts {
	list-style-type: none;
}

.icon-size {
	height: 30px;
	width: 30px;
}

.login {
	width: 40%;
}

.login input {

}

.reg-form {
	text-align: center;
	margin: auto;
	width: 50%;
}


#prop-infobox {
	border-radius: 12px;
	background-color: #7eb68d;
	color: white;
	padding-top: 5px;
	padding-bottom: 12px
}

#prop-infobox ul {
	line-height: 2em;
	padding-left: 50px;
	list-style-type: none;
	font-size: 1.2em;
}

#prop-infobox-wrapper {
}

#infobox-wrapper {
	padding-left: 0px;
}

.property {
	display: inline-block;
}

.property:hover {
	cursor: pointer;
}

hr { 
	display: block; 
	height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}